@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

body {
  font-family: 'Open Sans', Arial, sans-serif;
}
