.navigation {
  display: flex;
}

.turns-container {
  display: flex;
  align-items: center;
}

.turn-number {
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.start {
  background: green;
  color: white;
  font-size: 20px;
  width: 80px;
  height: 35px;
  border-radius: 20px;
}

.restart {
  background: red;
  color: white;
  font-size: 20px;
  width: 80px;
  height: 35px;
  border-radius: 20px;
}

.board {
  width: 306px;
  background: #f0f0f0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 3px;
  display: grid;
  border: 1px solid #ddd;
  cursor: pointer;
}

.box {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #222222;
  &:hover {
    background: #fafafa;
  }
}

#number {
  display: flex;
  width: 50px;
  height: 35px;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  justify-content: center;
  align-items: center;
}
